<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="profile$ | async as profile; else signIn">
    <ion-card-header>
      <ion-avatar size="large">
        <ion-img [src]="profile.photoURL"></ion-img>
      </ion-avatar>
      <ion-card-title>{{profile.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-list lines="full">
      <ion-item-divider>Contact Information</ion-item-divider>
      <ion-item *ngIf="profile.email">
        <ion-icon slot="start" name="mail" size="small" color="medium"></ion-icon>
        <ion-label>{{profile.email}}</ion-label>
      </ion-item>
      <ion-item *ngIf="profile.phoneNumber">
        <ion-icon slot="start" size="small" name="phone"></ion-icon>
        <ion-label>{{profile.phoneNumber}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="signOut()" size="small" fill="clear">Sign Out</ion-button>
  </ion-card>
  <ng-template #signIn>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sign In</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <firebase-ui
          (signInSuccessWithAuthResult)="signInSuccessWithAuthResult($event)"
          (signInFailure)="signInFailure($event)"></firebase-ui>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
